@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background-start: #F2F2F2;
  --background-end: #FFC3C3;
  --foreground-color: #333333;
}

body {
  color: var(--foreground-color);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}
