@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background-color-: #FAFAFA;
  --foreground-color: #333333;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
